<head>
    <meta property='og:image' content='https://graemeharrison.com/assets/img/logo.png"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Graeme Harrison</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/mobile.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/vendor/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/vendor/semantic.min.css"/>

    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/img/logo.png"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
</head>
